# Virtual Environment
.venv/
env/
venv/

# Manim temp and cache
media/
__pycache__/
*.pyc

# Generated outputs & video caches
output/
*.mp4
*.webm
*.wav
# Temporary data / caches
assets/openmoji_all.json
assets/current_char.json
assets/reveal_cache/
assets/animcjk_cache/
assets/svg_hanzi/
assets/audio/char_*/
